
.op-box {
	display: none;
	width: 60vw;
	height: auto;
	margin: 14vh 20vw;
}

.op-box-hdr {
	font-size: 4.8vh;
	font-weight: bold;
	color: #6F6F6F;
}

.op-box-hdr i {
	font-size: 4vh;
	color: #C0C0C0;
}

.loading-data {
	height: 8vh;
	width: 80%;
	border: 1px dotted red;
}

.sms-box input[type=text] {
	width: 100%;
	font-size: 2.8vh;
	margin: 1vh 0;
}

#smsBox div.fb-box {
	margin-top: 6vh;
	font-size: 3.2vh;
	text-align: center;
}

.blue-dev-item {
	width: 80%;
	border-radius: 1vh;
	border: 2px solid #dcdcdc;
	margin: 1vh auto;
	padding: 1vh;
}

.blue-dev-item:hover {
	border-color: green;
	cursor: pointer;
}

.blue-dev-item div:nth-child(1){
	font-size: 2.8vh;
	text-indent: 1vw;
}

.blue-dev-item div:nth-child(2){
	font-size: 3.6vh;
	text-indent: 1.6vw;
}

#blueDevScan {
	width: 80% !IMPORTANT;
	margin-left: 8vw !IMPORTANT;
}

#blueDevScan .col-left {
	display: inline-block;
	width: 60%;
	height: 40vh;
	border: 1px dotted #dcdcdc;
	vertical-align: top;
}

#blueDevScan .col-right {
	display: inline-block;
	width: 38%;
	height: 68vh;
	margin-left: 1%;
	border-radius: 1vh;
	border: 2px solid #808080;
	vertical-align: top;
	overflow-y: scroll;
	
}

#blueDevScan input[type=button] {
	height: 6vh;
	width: 12vw;
	font-size: 2.4vh;
	margin: 2vh;
	border-radius: 1vh;
	border: 2px solid #403662;
}

.btn-off {
	color: #dcdcdc !IMPORTANT;
	border-color: #dcdcdc !IMPORTANT;
}

#blueDevScan input[type=button]:hover {
	cursor: pointer;
}

#btnStartStop {
	color: green;
}

#btnConnectDisconnect {
	color: green;
}

#blueDevScan .fb-box-a {
	font-size: 2vh !IMPORTANT;
	text-align: center;
	margin-top: 4vh;
}
